@import "tailwindcss";

/* Estilos base y tema */
@layer base {
  :root {
    /* Neutros */
    --color-neutral-900: #333232;
    --color-neutral-800: #595959;
    --color-neutral-700: #687079;
    --color-neutral-600: #B6C7CD;
    --color-neutral-500: #ECEDFF;
    --color-neutral-400: #F2F2F2;
    --color-neutral-300: #FFFFFF;

    /* Primarios */
    --color-primary: #FF00B1;

    /* Secundario e InformaciÃ³n */
    --color-secondary: #010630;
    --color-info: #2B308E;

    /* Secundarios */
    --color-blue-900: #010630;
    --color-blue-800: #091263;
    --color-blue-700: #2B308E;
    --color-blue-600: #343ABA;
    --color-blue-500: #424AB5;

    /* Claros */
    --color-pink-900: #C4008B;
    --color-pink-800: #C4008B;
    --color-pink-700: #FF00B1;
    --color-pink-600: #FF58CC;
    --color-pink-500: #F9B1D6;
    --color-pink-400: #FFB0E7;
    --color-pink-300: #FDFDF3;

    /* Acentos */
    --color-alert: #FFA000;
    --color-error: #C4008B;
    --color-success: #F9B1D6;
  }
}